@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fdfdfd;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  letter-spacing: -0.43px;
  line-height: 30px;
  font-weight: 400;
}

// .post {
//   p {
//     max-width: 800px;
//   }
// }

img {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

.content {
  text-align: left;
  padding-right: 30px;

  @media screen and (min-width: 1024px) {
    max-width: 330px;
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 16px!important;
    }

    h2 {
      font-size: 20px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
  }

  h2 {
    padding-bottom: 7px;
    padding-top: 20px;
  }
}

.navbar {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
